Welcome {{user}}

<h2>Notifications App</h2>
<div ng-controller="dashboardCtrl as notificationList">
    <!--<span>{{notificationList.remaining()}} of {{notificationList.notifications.length}} remaining</span>-->
    <!--[ <a href="" ng-click="notificationList.archive()">archive</a> ]-->
    <div class="container">
        <img id="spinner" ng-src="img/spinner.gif" style="display:none;">
        <div ng-repeat="notification in notificationList.notifications" id="notificationsWrapper">
            <div class="example-1 card">
                <div class="wrapper {{notification.backgroundClass}}" ng-class="(notification.isNew) ? 'animated shake' : ''">
                    <div ng-if="notification.isNew">
                        <div class="newNotificationIndicator">!</div>
                    </div>
                    <div class="date">
                        <span class="day">{{notification.day}}</span>
                        <span class="month">{{notification.year}}</span>
                        <span class="year">{{notification.month}}</span>
                        <span class="time">{{notification.timeValue}}</span>
                    </div>
                    <div class="data">
                        <div class="content">
                            <span class="author">{{notification.authorName}}</span>
                            <h1 class="title"><a href="#">{{notification.title}}</a></h1>
                            <p class="text">{{notification.content}}</p>
                            <label for="show-menu" class="menu-button"><span></span></label>
                        </div>
                        <input type="checkbox" id="show-menu" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form ng-submit="notificationList.addTodo()">
        <input type="text" ng-model="notificationList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>