<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="/img/notification.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span>Notifications App</span>
    </a>

    <div class="collapse navbar-collapse" id="containerNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <a href="#">
            <span class="fa fa-user"></span> 
            <strong>{{user}}</strong>
        </a>
    </div>
</nav>

<h1 class="text-center mt-4">Notifications App</h1>
<div ng-controller="dashboardCtrl as notificationList">
    <form ng-submit="notificationList.addTodo()">
        <input type="text" ng-model="notificationList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
    <!--<span>{{notificationList.remaining()}} of {{notificationList.notifications.length}} remaining</span>-->
    <!--[ <a href="" ng-click="notificationList.archive()">archive</a> ]-->
    <div class="container">
        <center><img id="spinner" ng-src="img/spinner.gif" style="display:none; margin: 0 auto"></center>
        <div ng-repeat="notification in notificationList.notifications" id="notificationsWrapper">
            <div class="example-1 card">
                <div class="wrapper {{notification.backgroundClass}}" ng-class="(notification.isNew) ? 'animated shake' : ''">
                    <div ng-if="notification.isNew">
                        <div class="newNotificationIndicator">!</div>
                    </div>
                    <div class="date">
                        <span class="day">{{notification.day}}</span>
                        <span class="month">{{notification.year}}</span>
                        <span class="year">{{notification.month}}</span>
                        <span class="time">{{notification.timeValue}}</span>
                    </div>
                    <div class="data">
                        <div class="content">
                            <span class="author">{{notification.authorName}}</span>
                            <h1 class="title"><a href="#">{{notification.title}}</a></h1>
                            <p class="text">{{notification.content}}</p>
                            <label for="show-menu" class="menu-button"><span></span></label>
                        </div>
                        <input type="checkbox" id="show-menu" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>