<!doctype html>
<html ng-app="todoApp">
<head>
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/todo.js"></script>
    <link rel="stylesheet" href="/css/todo.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cards.css">
</head>
<body>
<h2>Notifications App</h2>
<div ng-controller="NotificationListController as notificationList">
    <span>{{notificationList.remaining()}} of {{notificationList.notifications.length}} remaining</span>
    [ <a href="" ng-click="notificationList.archive()">archive</a> ]
    <div class="container">
        <img id="spinner" ng-src="img/spinner.gif" style="display:none;">
        <div ng-repeat="notification in notificationList.notifications">
            <div class="example-1 card">
                <div class="wrapper">
                    <div class="date">
                        <span class="day">{{notification.day}}</span>
                        <span class="month">{{notification.year}}</span>
                        <span class="year">{{notification.month}}</span>
                    </div>
                    <div class="data">
                        <div class="content">
                            <span class="author">Jane Doe</span>
                            <h1 class="title"><a href="#">Everything You Need to Know About Gold Medals</a></h1>
                            <p class="text">Olympic gold medals contain only about 1.34 percent gold, with the rest composed of sterling silver.</p>
                            <label for="show-menu" class="menu-button"><span></span></label>
                        </div>
                        <input type="checkbox" id="show-menu" />
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form ng-submit="notificationList.addTodo()">
        <input type="text" ng-model="notificationList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>
</body>
</html>